pkgbase = manifest-tool-bin
	pkgdesc = Container image manifest tool for manifest list object creation/query
	pkgver = 2.1.9
	pkgrel = 1
	url = https://github.com/estesp/manifest-tool
	arch = x86_64
	license = Apache2
	provides = manifest-tool
	provides = manifest-tool-bin
	conflicts = manifest-tool
	conflicts = manifest-tool-git
	conflicts = manifest-tool-bin
	source = https://github.com/estesp/manifest-tool/releases/download/v2.1.9/binaries-manifest-tool-2.1.9.tar.gz
	sha256sums = f891ad4dd4f75736959aad95c4a601404d0dae003c394c023c1fdeb2cf46ed92

pkgname = manifest-tool-bin
